<h3>Please enter each respective debt which you have along with the debt amount, interest rate, and the minimum monthly payment amount. Don't worry about the order.</h3>
<div class="income">
	<input type="text" size="25" name="income_input" placeholder="Ex. 3000"/>
</div>
<div id="p_scents">
	<p>
		<label for="p_scnts">
			<input type="text" id="p_scnt" size="25" name="dname_scnt_1" value="" placeholder="Debt Name" />
			<input type="text" id="amount_scnt" size="25" name="amount_scnt_1"placeholder="Debt Amount"/>
			<input type="text" id="interest_scnt" name="interest_scnt_1" size="25" placeholder="Interest Rate Ex:9.5%= 9.5"/>
			<input type="text" id="mpamount_scnt" size="25" name="minpayamount_scnt_1"placeholder="Min. Monthly Payment"/>
		</label>
	</p>
</div>
<h3><a href="#" id="addScnt">Add Another Debt</a></h3>
<button id="calculate_button" value="submit">
	Calculate
</button>
