<h3>Please enter each respective debt which you have along with the debt amount, interest rate, and the minimum monthly payment amount. Don't worry about the order.</h3>
<div class="income">
	<label for="income_input">Yearly Income</label>
	<input type="text" name="income_input" placeholder="Eg. 30000"/>
</div>
<div id="p_scents">
	<p>
		<label for="p_scnts">Debt Name</label>
		<input type="text" id="p_scnt" name="dname_1" value="" placeholder="Eg. Credit Card XYZ" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."/>
		<label for="amount_1">Debt Amount</label>
		<input type="text" id="amount_scnt" name="amount_1"placeholder="Eg. 1000 = $1,000"/>
		<label for="interest_1">Interest Rate</label>
		<input type="text" id="interest_scnt" name="interest_1" placeholder="Eg. 9.5 = %9.5"/>
		<label for="minpayamount_1">Min. Monthly Payment</label>
		<input type="text" id="mpamount_scnt" name="minpayamount_1"placeholder="Eg. 10 = $10"/>
	</p>
</div>
<h3><a href="#" id="addScnt">Add Another Debt</a></h3>
<button id="calculate_button" value="submit">Calculate</button>
