<h3>Please enter each respective debt which you have along with the debt amount, interest rate, and the minimum monthly payment amount. Don't worry about the order.</h3>
<div class="income">
	<label for="income_input">Yearly Income</label>
	<input type="text" id='yearlySalary' name="income_input" placeholder="Eg. 30000"/>
</div>
<div id="p_scents"></div>
<h3><a href="#" id="addScnt">Add Another Debt</a></h3>
<button id="calculate_button" value="submit">Calculate</button>
