<script type="text/javascript">
	<!-- Define salary -->
	<% if @salary %>
		var existing_salary = <%= @salary %>;
	<% else %>
		var existing_salary;
	<% end %>

	<!-- Define debt array -->
	var existing_debt_array = <%= raw @debt_array.to_json %>;
</script>
<h2>Accounts</h2>
<div class="well well-lg" role="">
	<div class="row">
		<div class="col-sm-1">
			<label for="income_input" class="">Yearly Income:</label>
		</div>
		<div class="input-group col-sm-2">			
			<input id="income_input" class="form-control"/>
		</div>
	</div>
	<p>Please enter each respective debt which you have along with the debt amount, interest rate, and the minimum monthly payment amount. Don't worry about the order.</p>
	<div id="accounts"></div>	
	<div class="row add">
		<div class="col-sm-8">
			<!-- TODO Set these to a uniform width -->
			<button id="save_button" class="btn btn-default btn-lg">Save</button>
			<button id="calculate_button" class="btn btn-default btn-lg">Calculate</button>
		</div>
	</div>
</div>
<hr/>
<h2>Chart</h2>
<div class="well well-lg">
</div>

