<script type="text/javascript">
	<!-- Define salary -->
	<% if @salary %>
		var existing_salary = <%= @salary %>;
	<% else %>
		var existing_salary;
	<% end %>

	<!-- Define debt array -->
	var existing_debt_array = <%= raw @debt_array.to_json %>;
</script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

<div class="container">
	<h1>Calculator</h1>
	<p>
		After entering your information and clicking the "calculate" button, a graph below will display the amount of time it will take to pay off each debt if you apply 1% of your current monthly income to the specified debt (in addition to its minimum payment). The specified debt is the first bar from the top. Once that debt is paid off, you will take the total  amount which you were paying and apply it to the next debt on the graph. As you pay off more debts, your payments become larger and larger, enabling you to pay off debts quicker.
	</p>
	<h2>Accounts</h2>
	<div class="well well-lg" role="">
		<div class="row">
			<div class="col-sm-1">
				<label for="income_input" class="">Yearly Income:</label>
			</div>
			<div class="input-group col-sm-2">			
				<input id="income_input" class="form-control"/>
			</div>
		</div>
		<p>Please enter each respective debt which you have along with the debt amount,yearly interest rate, and the minimum monthly payment amount in that order.</p>
		<div id="accounts"></div>	
		<div class="row add">
			<div class="col-sm-8">
				<!-- TODO Set these to a uniform width -->
				<button id="save_button" class="btn btn-default btn-lg">Save</button>
				<button id="calculate_button" class="btn btn-default btn-lg">Calculate</button>
			</div>
		</div>
	</div>
	<hr/>
	<h2>Chart</h2>
	<div class="well well-lg">
		<svg class="chart"></svg>
	</div>


</div>