<div class="container">
	<h1>About the Financial Calculator</h1>
	<p>
		The free debt reducer aims to help people to quickly pay off their debts without causing additional financial strain. The algorithm prioritizes debts by the amount of time it will take to pay them off and starts with the shortest debt. An additional 1% of the individual's monthly income is applied on top of the current (minimum) payment of that debt. When that debt is paid off, the payment amounts which were provided for that debt are now applied to the next debt (the next shortest). This process continues and has a beneficial "snowball" effect on payments; allowing users to pay off their debts quicker as the payments accumulate. The financial calculator offers an free, efficient option which helps to reduce debts but not change the person's lifestyle.
	</p>
	<hr/>
	<h2>About the web designers</h2>
	<div class="row">
		<div class="col-sm-7">
			<h3>Nathan Cooper</h3>
			<p>
				Nathan doesn't really do a whole lot, but somehow, things get done.
			</p>
		</div>
		<div class="col-sm-3">
			<%= image_tag "nathan.jpg", class: "img-responsive" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7">
			<h3>Joseph Burwasser</h3>
			<p class="col-sm-7">
				I'm a programmer originally from Los Angeles. I specialize in vba and I currently work as a computer lab supervisor for the Marriot School of Management at Brigham Young University. I enjoy running, socializing, and composing music on the guitar and the computer.
			</p>
		</div>
		<div class="col-sm-3">
			<%= image_tag "joe.jpg", class: "img-responsive"%>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7">
			<h3>Roy Hemmert</h3>
			<p>
				Roy was born in Oregon but in high school had to adjust to country living in Star Valley Wyoming.  He has always wanted to be a graphic designed, but after being rejected from the program at Brigham Young University he had to search out other options.  He finally found and fell in love with Information Systems.  He especially enjoy web development.  He just started his small family and has a passion for soccer.
			</p>
		</div>
		<div class="col-sm-3">
			<%= image_tag "roy.jpg", class: "img-responsive"%>
		</div>
	</div/>
	<div class="row">
		<div class="col-sm-7">
			<h3>Scott Hutchings</h3>
			<p>
				Born and raised in Sacramento. One of seven children. I love sports, computers, novels, movies, dance and my fiancee. I love how things work and that love brought me to learn how to program computers. I worked at BYU OIT for three years and recently got a job at Qualtrics. I served a mission is Spain Madrid for the Church of Jesus Christ of Latter-Day Saints.
			</p>
		</div>
		<div class="col-sm-3">
			<%= image_tag "scott.jpg", class: "img-responsive"%>
		</div>
	</div>
</div>
