// Place all the styles related to the Calculation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	div#content {
		input {
			
		}
		input.error {
			border: 5px solid red;
		}
	}
}

.chart rect {
  fill: steelblue;
}

rect.bar:hover {
  fill: brown;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}
