<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FinancialCalculator</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    
      
	<style type="text/css">
	* { font-family:Arial; }
	h2 { padding:0 0 5px 5px; }
	h2 a { color: #224f99; }
	a { color:#999; text-decoration: none; }
	a:hover { color:#802727; }
	p { padding:0 0 5px 0; }
	
	input { padding:5px; border:1px solid #999; border-radius:4px; -moz-border-radius:4px; -web-kit-border-radius:4px; -khtml-border-radius:4px; }
	</style>
	<script>
	 $ (document).ready(function() {
	$(function() {
	        var scntDiv = $('#p_scents');
	    var i = $('#p_scents p').size() + 1;
	    
	    $('#addScnt').live('click', function() {
	            $('<p><label for="p_scnts"><input type="text" id="p_scnt" size="25" name="dname_scnt_' + i +'" value="" placeholder="Debt Name" /><input type="text" id="amount_scnt" size="25" name="amount_scnt_'+i+'" placeholder="Debt Amount"/><input type="text" id="interest_scnt" size="25" name="interest_scnt_'+i+'"placeholder="Interest Rate"/></label><a href="#" id="remScnt">Remove</a></p>').appendTo(scntDiv);
	            i++;
	            return false;
	    });
	    
	    $('#remScnt').live('click', function() { 
	            if( i > 2 ) {
	                    $(this).parents('p').remove();
	                        i--;
	                }
	                return false;
	        });
	});
	});
</script>
  </head>
  <body>
    <header>
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <a class="navbar-brand" href="/">Free Debt Reducer</a>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="/calculate">Calculate</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div id="content">
      <div class="container">
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>

    <footer>
      <div class="container">
        <p class="muted credit">Here is the footer</p>
      </div>
    </footer>
  </body>
</html>